

.dashboard-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds slight shadow for depth */
}

.dashboard-card.budget-card {
  background-color: #1e293b; /* slate */
}

.dashboard-card.goals-card {
  background: linear-gradient(to right, #3b82f6, #9333ea); /* blue-purple */
}

.dashboard-card.profile-card {
  background: linear-gradient(to right, #3b82f6, #9333ea); /* blue-purple */
}



.dashboard-card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.dashboard-card-content {
  flex: 1;
}

.dashboard-card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.05); /* Subtle zoom effect on hover */
  transition: transform 0.3s ease-in-out;
}

