/* ProfileIcon.css */

.profile-icon-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
  margin-right: auto; /* push it to far left in navbar */
}

.profile-avatar,
.profile-placeholder-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-placeholder-icon {
  font-size: 40px;
  color: gray;
}

.profile-name {
  font-size: 0.75rem;
  margin-top: 2px;
}
